<div id="<%= dom_id education %>">
  <p>
    <strong>User:</strong>
    <%= education.user_id %>
  </p>

  <p>
    <strong>University:</strong>
    <%= education.university %>
  </p>

  <p>
    <strong>Stage:</strong>
    <%= education.stage %>
  </p>

</div>
